---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/favorites/list.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<API_KEY>", oauth_nonce="bbf21c08d29970e11e110e2593a4f7e9",
        oauth_signature="OxP%2BS9TPVzXcOefSnUbIvgn%2FEsA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1603950913", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 29 Oct 2020 05:55:13 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 24f33dc7628a7b7c33d540dc8928fbea
      X-Rate-Limit-Limit:
      - '75'
      X-Rate-Limit-Remaining:
      - '74'
      X-Rate-Limit-Reset:
      - '1603951813'
      X-Response-Time:
      - '138'
      X-Transaction:
      - 005c245e0043086f
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Wed Oct 28 03:25:31 +0000 2020","id":1321291982359199745,"id_str":"1321291982359199745","text":"\u5927\u585a\u5bb6\u5177\u3059\u3054\u3044\u3002\n\u793e\u9577\u8f9e\u4efb\u3067S\u9ad8\u3044\u304f\u306e\u304b\u30fb\u30fb\u30fb
        https:\/\/t.co\/VFNIPoTDBn","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":1321291947772968960,"id_str":"1321291947772968960","indices":[24,47],"media_url":"http:\/\/pbs.twimg.com\/media\/ElYsBqeXgAATrwm.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/ElYsBqeXgAATrwm.jpg","url":"https:\/\/t.co\/VFNIPoTDBn","display_url":"pic.twitter.com\/VFNIPoTDBn","expanded_url":"https:\/\/twitter.com\/ocu_investment\/status\/1321291982359199745\/photo\/1","type":"photo","sizes":{"small":{"w":382,"h":680,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":675,"h":1200,"resize":"fit"},"large":{"w":750,"h":1334,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":1321291947772968960,"id_str":"1321291947772968960","indices":[24,47],"media_url":"http:\/\/pbs.twimg.com\/media\/ElYsBqeXgAATrwm.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/ElYsBqeXgAATrwm.jpg","url":"https:\/\/t.co\/VFNIPoTDBn","display_url":"pic.twitter.com\/VFNIPoTDBn","expanded_url":"https:\/\/twitter.com\/ocu_investment\/status\/1321291982359199745\/photo\/1","type":"photo","sizes":{"small":{"w":382,"h":680,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":675,"h":1200,"resize":"fit"},"large":{"w":750,"h":1334,"resize":"fit"}}}]},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eTwitter Web App\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":818328005399355392,"id_str":"818328005399355392","name":"Ocu","screen_name":"ocu_investment","location":"","description":"\u517c\u696d\u3002\u70ba\u66ff\uff08\u30dd\u30f3\u30c9\u5186\u30e1\u30a4\u30f3\uff09\u3001\u682a\u3002","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":61,"friends_count":279,"listed_count":0,"created_at":"Mon
        Jan 09 05:26:15 +0000 2017","favourites_count":716,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":414,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/912642415072239617\/XmJXEToa_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/912642415072239617\/XmJXEToa_normal.jpg","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":224,"favorite_count":251,"favorited":true,"retweeted":false,"possibly_sensitive":false,"lang":"ja"},{"created_at":"Wed
        Oct 28 03:05:07 +0000 2020","id":1321286847163731971,"id_str":"1321286847163731971","text":"\u30bd\u30cb\u30fc\u300e\u30c7\u30a3\u30ba\u30cb\u30fc
        \u30c4\u30a4\u30b9\u30c6\u30c3\u30c9\u30ef\u30f3\u30c0\u30fc\u30e9\u30f3\u30c9\u300f\u306e\u30d8\u30c3\u30c9\u30db\u30f3\uff06\u30a6\u30a9\u30fc\u30af\u30de\u30f3\u3001\u597d\u307f\u306e\u201c\u5bee\u30e2\u30c1\u30fc\u30d5\uff06\u751f\u5f92\u306e\u540d\u524d\u201d\u3092\u523b\u5370
        - https:[...]
