.welcome_logo {
  line-height: 1.2;
  font-size: 6rem;
  text-indent: -0.7rem;
  font-family: 'Montserrat',sans-serif;
  letter-spacing: 3px;
  text-shadow: 0px 5px 1px silver;
}

.feature__image {
  margin-bottom: .8rem;
  width: 100px;
  height: 100px;

  @media(max-width: 960px) {
    margin-right: 1rem;
    margin-bottom: 0;
  }
}

.hero {
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
